<h4 style="text-align: center;">TEAM HYPERAERO</h4>
<div class="container">
  <div>
    <div class="row">
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <img src="../../assets/Hyperaero/Ritwik.jpg">
            <span class="card-title">Ritvik Saini</span>
          </div>
          <div class="card-content">
            <label>Department</label><span class="card-title activator grey-text text-darken-4">Safety and Stability</span>
            <p>Concepts of Pneumatic Braking and Nitrox Suspension by</p>
            <p><label>(deadline)</label> 31st Oct 2020</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <img src="../../assets/Hyperaero/Shivani.jpg">
            <span class="card-title">Shivani Jakhar</span>
          </div>
          <div class="card-content">
            <label>Department</label><span class="card-title activator grey-text text-darken-4">Levitation</span>
            <p>Graphs of Levitation vs Drag using EMS</p>
            <p><label>(deadline)</label> 31st Oct 2020</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <img src="../../assets/Hyperaero/Abhronil.jpg">
            <span class="card-title">Abhronil Adhikari</span>
          </div>
          <div class="card-content">
            <label>Department</label><span class="card-title activator grey-text text-darken-4">Electronics</span>
            <p>Maintain Power Supply without fluctuations</p>
            <p><label>(deadline)</label> 31st Oct 2020</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <img src="../../assets/images/logo.png">
            <span class="card-title">Sharique Alam</span>
          </div>
          <div class="card-content">
            <label>Department</label><span class="card-title activator grey-text text-darken-4">Propulsion</span>
            <p>Graphs of Thrust vs Drag vs Levitation</p>
            <p><label>(deadline)</label> 31st Oct 2020</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <img src="../../assets/Hyperaero/Praneet.jpg">
            <span class="card-title">Praneet</span>
          </div>
          <div class="card-content">
            <label>Department</label><span class="card-title activator grey-text text-darken-4">Electronics</span>
            <p>Power Module Management and Communication with POD</p>
            <p><label>(deadline)</label> 31st Oct 2020</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <img src="../../assets/Hyperaero/Satyam.jpg">
            <span class="card-title">Satyam Sihare</span>
          </div>
          <div class="card-content">
            <label>Designation</label><span class="card-title activator grey-text text-darken-4">Team Leader</span>
            <p>Optimisation of combined graphs L vs D and T vs L vs D</p>
            <p><label>(deadline)</label> 31st Oct 2020</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h4 style="text-align: center;">OUR SPONSORS</h4>
<div class="container1">
  <img src="../../assets/backgrounds/EMS.jfif">
</div>
<h4 style="text-align: center;">EMWorks Inc.</h4>
<br>
<h5 style="color:red; text-align:center;">Notice: Interested candidates can contact us for inductions.</h5>
