<section class="row" id="aero-gallery">
    <div class="col m4 s12">
        <div class="material-placeholder"><img class="responsive-img materialboxed" src="assets/gallery/MG_0343.jpg">
        </div><br>
    </div>
    <div class="col m4 s12">
        <div class="material-placeholder"><img class="responsive-img materialboxed" src="assets/gallery/DSC_0045.jpg">
        </div>
        <br>
    </div>
    <div class="col m4 s12">
        <div class="material-placeholder"><img class="responsive-img materialboxed" src="assets/gallery/MG_0229.jpg">
        </div><br>
    </div>
    <div class="col m4 s12">
        <div class="material-placeholder"><img class="responsive-img materialboxed" src="assets/gallery/DSC_0092.jpg">
        </div>
        <br>
    </div>
    <div class="col m4 s12">
        <div class="material-placeholder"><img class="responsive-img materialboxed" src="assets/gallery/DSC_0016.jpg">
        </div>
        <br>
    </div>
    <div class="col m4 s12">
        <div class="material-placeholder"><img class="responsive-img materialboxed" src="assets/gallery/IMG_2668.jpg">
        </div>
        <br>
    </div>
    <div class="col m4 s12">
        <div class="material-placeholder"><img class="responsive-img materialboxed" src="assets/gallery/DSC_1375.jpg">
        </div>
        <br>
    </div>
    <div class="col m4 s12">
        <div class="material-placeholder"><img class="responsive-img materialboxed" src="assets/gallery/DSC_1383.jpg">
        </div>
        <br>
    </div>
    <div class="col m4 s12">
        <div class="material-placeholder"><img class="responsive-img materialboxed" src="assets/gallery/DSC_0049.jpg">
        </div>
        <br>
    </div>
    <div class="col m4 s12">
        <div class="material-placeholder"><img class="responsive-img materialboxed" src="assets/gallery/DSC_0104.jpg">
        </div>
        <br>
    </div>
    <div class="col m4 s12">
        <div class="material-placeholder"><img class="responsive-img materialboxed" src="assets/gallery/untitled-2.jpg">
        </div>
        <br>
    </div>
    <div class="col m4 s12">
        <div class="material-placeholder"><img class="responsive-img materialboxed" src="assets/gallery/DSC_0112.jpg">
        </div>
        <br>
    </div>
    <div class="col m4 s12">
        <div class="material-placeholder"><img class="responsive-img materialboxed" src="assets/gallery/MG_0352.jpg">
        </div><br>
    </div>
    <div class="col m4 s12">
        <div class="material-placeholder"><img class="responsive-img materialboxed" src="assets/gallery/DSC_1389.jpg">
        </div>
        <br>
    </div>
    <div class="col m4 s12">
        <div class="material-placeholder"><img class="responsive-img materialboxed" src="assets/gallery/DSC_1360.jpg">
        </div>
        <br>
    </div>
    <div class="col m4 s12">
        <div class="material-placeholder"><img class="responsive-img materialboxed" src="assets/gallery/MG_0266.jpg">
        </div><br>
    </div>
    <div class="col m4 s12">
        <div class="material-placeholder"><img class="responsive-img materialboxed" src="assets/gallery/MG_0296.jpg">
        </div><br>
    </div>
    <div class="col m4 s12">
        <div class="material-placeholder"><img class="responsive-img materialboxed" src="assets/gallery/DSC_0102.jpg">
        </div>
        <br>
    </div>
    <div class="col m4 s12">
        <div class="material-placeholder"><img class="responsive-img materialboxed" src="assets/gallery/IMG-20180816-WA0004.jpg"></div>
        <br>
    </div>
    <div class="col m4 s12">
        <div class="material-placeholder"><img class="responsive-img materialboxed" src="assets/gallery/DSC_1404.jpg">
        </div>
        <br>
    </div>
    <div class="col m4 s12">
        <div class="material-placeholder"><img class="responsive-img materialboxed" src="assets/gallery/DSC_0054.jpg">
        </div>
        <br>
    </div>
    <div class="col m4 s12">
        <div class="material-placeholder"><img class="responsive-img materialboxed" src="assets/gallery/DSC_1363.jpg">
        </div>
        <br>
    </div>
    <div class="col m4 s12">
        <div class="material-placeholder"><img class="responsive-img materialboxed" src="assets/gallery/DSC_0095.jpg">
        </div>
        <br>
    </div>
    <div class="col m4 s12">
        <div class="material-placeholder"><img class="responsive-img materialboxed" src="assets/gallery/IMG_2684.jpg">
        </div>
        <br>
    </div>
    <div class="col m4 s12">
        <div class="material-placeholder"><img class="responsive-img materialboxed" src="assets/gallery/DSC_0063.jpg">
        </div>
        <br>
    </div>
    <div class="col m4 s12">
        <div class="material-placeholder"><img class="responsive-img materialboxed" src="assets/gallery/MG_0301.jpg">
        </div><br>
    </div>
    <div class="col m4 s12">
        <div class="material-placeholder"><img class="responsive-img materialboxed" src="assets/gallery/MG_0322.jpg">
        </div><br>
    </div>
</section>