<section>
  <br><br>
	<h3 class="teal-text container center-align">Final Year</h3>
	<div class="row final-year">
		<div class="col s12 m3">
			<div class="card">
				<div class="card-image"><img src="assets/members/template.jpg"><span class="card-title">
          Amit Kumar
        </span></div>
				<div class="card-content">
					<p>Post: President<br>Email: ak99ti@gmail.com<br>Branch: ECE</p>
				</div>
				<div class="card-action"><a href="">Link</a></div>
			</div>
		</div>
		<div class="col s12 m3">
			<div class="card">
				<div class="card-image"><img src="assets/members/template.jpg"><span class="card-title">Amit Jangra</span>
				</div>
				<div class="card-content">
					<p>Post: Vice President<br>Email: jangraamit<br>Branch: ECE</p>
				</div>
				<div class="card-action"><a href="">Link</a></div>
			</div>
		</div>
		<div class="col s12 m3">
			<div class="card">
				<div class="card-image"><img src="assets/members/template.jpg"><span class="card-title">Lakshay
          Kumar
        </span></div>
				<div class="card-content">
					<p>Post: Secretary<br>Email: Swikriti2@gmail.com<br>Branch: ECE</p>
				</div>
				<div class="card-action"><a href="">Link</a></div>
			</div>
		</div>
		<div class="col s12 m3">
			<div class="card">
				<div class="card-image"><img src="assets/members/template.jpg"><span class="card-title">Satyam Sihare</span>
				</div>
				<div class="card-content">
					<p>Post: Secretary<br>Email: sumitsaini1786@gmail.com<br>Branch: IT</p>
				</div>
				<div class="card-action"><a href="">Link</a></div>
			</div>
    </div>
	</div>
  <div class="row final-year">
    <div class="col s12 m3">
			<div class="card">
				<div class="card-image"><img src="assets/members/template.jpg"><span class="card-title">Saurabh Shukla</span>
				</div>
				<div class="card-content">
					<p>Post: Secretary<br>Email: sumitsaini1786@gmail.com<br>Branch: Mechanical</p>
				</div>
				<div class="card-action"><a href="">Link</a></div>
			</div>
		</div>
	</div>
	<br>
	<h3 class="teal-text container center-align">II & III Year</h3>
	<div class="row pre-final-year">
    <div class="col s12 m3">
			<div class="card">
				<div class="card-image"><img src="assets/members/Nitin_III.jpg"><span class="card-title">Nitin</span>
				</div>
				<div class="card-content">
					<p>Email: someone@gmail.com<br>Branch: </p>
				</div>
				<div class="card-action"><a href="">TouchMe</a></div>
			</div>
    </div>
    <div class="col s12 m3">
			<div class="card">
				<div class="card-image"><img src="assets/members/Vinay_III.jpg"><span class="card-title">Vinay</span>
				</div>
				<div class="card-content">
					<p>Email: someone@gmail.com<br>Branch: </p>
				</div>
				<div class="card-action"><a href="">TouchMe</a></div>
			</div>
		</div>
		<div class="col s12 m3">
			<div class="card">
				<div class="card-image"><img src="assets/members/BADAVATHU_II.jpeg"><span class="card-title">Badvathu</span>
				</div>
				<div class="card-content">
					<p>Email: someone@gmail.com<br>Branch: </p>
				</div>
				<div class="card-action"><a href="">TouchMe</a></div>
			</div>
    </div>
    <div class="col s12 m3">
			<div class="card">
				<div class="card-image"><img src="assets/members/Rahul_III.jpg"><span class="card-title">Rahul</span>
				</div>
				<div class="card-content">
					<p>Email: someone@gmail.com<br>Branch: </p>
				</div>
				<div class="card-action"><a href="">TouchMe</a></div>
			</div>
    </div>
		<div class="col s12 m3">
			<div class="card">
				<div class="card-image"><img src="assets/members/Mandeep_III.jpg"><span class="card-title">Mandeep</span>
				</div>
				<div class="card-content">
					<p>Email: someone@gmail.com<br>Branch: </p>
				</div>
				<div class="card-action"><a href="">TouchMe</a></div>
			</div>
    </div>
    <div class="col s12 m3">
			<div class="card">
				<div class="card-image"><img src="assets/members/Navdeep_III.jpg"><span class="card-title">Navdeep</span>
				</div>
				<div class="card-content">
					<p>Email: someone@gmail.com<br>Branch: </p>
				</div>
				<div class="card-action"><a href="">TouchMe</a></div>
			</div>
    </div>
    <div class="col s12 m3">
			<div class="card">
				<div class="card-image"><img src="assets/members/Praveen_Kaushik_II.jpg"><span class="card-title">Praveen</span>
				</div>
				<div class="card-content">
					<p>Email: someone@gmail.com<br>Branch: </p>
				</div>
				<div class="card-action"><a href="">TouchMe</a></div>
			</div>
    </div>
    <div class="col s12 m3">
			<div class="card">
				<div class="card-image"><img src="assets/members/Ritwik_III.jpg"><span class="card-title">Ritwik</span>
				</div>
				<div class="card-content">
					<p>Email: someone@gmail.com<br>Branch: </p>
				</div>
				<div class="card-action"><a href="">TouchMe</a></div>
			</div>
    </div>
    <div class="col s12 m3">
			<div class="card">
				<div class="card-image"><img src="assets/members/Sahil_III.jpg"><span class="card-title">Sahil</span>
				</div>
				<div class="card-content">
					<p>Email: someone@gmail.com<br>Branch: </p>
				</div>
				<div class="card-action"><a href="">TouchMe</a></div>
			</div>
    </div>
    <div class="col s12 m3">
			<div class="card">
				<div class="card-image"><img src="assets/members/Sanjeev_III.jpg"><span class="card-title">Sanjeev</span>
				</div>
				<div class="card-content">
					<p>Email: someone@gmail.com<br>Branch: </p>
				</div>
				<div class="card-action"><a href="">TouchMe</a></div>
			</div>
    </div>
	</div>

</section>
